.study-browser
  float: left
  width: 100%
  height: 100%
  background-color: black
  padding-top: 20px



  .scrollable-study-thumbnails
    height: 100%
    padding-bottom: 50px
    padding-right: 16px
    padding-left: 4px
    margin-bottom:50px
    display: flex
    flex-direction: row
    overflow-x: auto
    white-space: nowrap

    .thumbnail-container
      margin: 0 auto;




.draggable
  cursor: copy
  cursor: -webkit-grab
  cursor: -moz-grab
