.FlexboxLayout {
  height: 100vh;
  width: 100vw;
}

.sidepanel {
  display: flex;
  flex-direction: row;
  height: 50%;
  transition: var(--sidepanel-transition);
}

.sidepanel.is-open {
  margin-right: 0;
  margin-left: 0;
}

.main-content {
  height: 50%;
  width: 100%;
}
