.ToolbarRow {
  border-bottom: var(--ui-border-thickness) solid var(--ui-border-color);
  flex: 0 0 auto;
  height: 8vh;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1%;
  position: relative;
  transition: height 300ms ease;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-self: center;
}
